.imgDiv{
	background-color: aliceblue;
}

.descMovie{
	padding: 20px;
	text-align: left;
}

.descMovie h1{
	padding-bottom: 15px;
}

.descMovie h4{
	line-height: 2.5rem;
}

.otherDetails{
	text-align: left;
	padding: 20px;
	line-height: 2.5rem;
	display: inline-block;
	width: 100%;
}

.otherDetails div{
	display: inline-block;
	width: 50%;
	float: left;
}

.loader{
	border: 2px solid #d2d2d2; /* Light grey */
 	border-top: 2px solid #3498db; /* Blue */
  	border-radius: 50%;
  	width: 50px;
  	height: 50px;
 	animation: spin 2s linear infinite;
		}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
			}

.justify-content-center{
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	}

@media screen and (max-width: 480px) {
  				.descMovie{
					padding: 4vw;
	
				}


				.otherDetails{		
				padding: 4vw;	
				}

}
